@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #00000032; */
  --background: rgba(0, 0, 0, 0.90);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  overflow-y: scroll;
}
