/* .nav-links a:hover, .nav-links span:hover {
  background-color: rgba(146, 138, 138, 0.263);
  border-radius: 3px;
  cursor: pointer;
} */

.fold-project, .fold-contact {
  display: none;
  opacity: 0;
}

.dropdown-project, .dropdown-contact {
  display: flex;
  position: fixed;
  gap: 50px;
  top: 150%;
  white-space: nowrap;
  align-items: center;
  left: 0;
  transform: translateX(-20%);
  text-decoration: underline #8a8686;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  justify-content: center;
}

.dropdown-project {
  margin-left: 75px;
}

.dropdown-contact {
  margin-left: 40px;
}

.dropdown-project a:hover, .dropdown-contact a:hover {
  background-color: transparent !important;
  text-decoration: underline rgba(0, 0, 0, 0.536) 1px;
  transition: text-decoration 0.3s ease-in-out;
}

.nav-linkedin:hover {
  background-color: transparent !important;
}

.linkedin-icon {
  vertical-align: middle;
  border-bottom: solid 2px transparent;
}

.linkedin-icon:hover {
  border-bottom: solid 2px rgb(146, 11, 11);
}