.resume-download-button {
    display: flex;
    position: fixed;
    right: 20px;
    top: 100px;
    justify-content: center;
    width: 170px;
    margin: 0 auto;
    padding: 10px;
    background-color: #0073b1;
    color: #fff;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 30px;
  }
  
  .resume-download-button:hover {
    background-color: #005f8b;
  }

  /* Resume page container */
.resume-container {
    width: 70%;
    min-width: 1080px;
    margin: 100px auto;
    font-family: Arial, sans-serif;
    color: rgba(255, 255, 255, 0.85);
    line-height: 1.6;
}

/* Header styling */
.resume-header {
    text-align: center;
    margin-bottom: 20px;
}

.resume-header h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 28px;
    margin-bottom: 5px;
}

.resume-header p {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Add space between items */
}

.resume-linkedin-container {
    display: flex;
    align-items: center;
    gap: 5px; /* Space between icon and LinkedIn text */
}


.resume-header a {
    color: #719af1;
    text-decoration: none;
}

.resume-header a:hover {
    text-decoration: underline;
}

/* Section styling */
.resume-section {
    margin-bottom: 30px;
}

.resume-section h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #719af1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    padding-bottom: 5px;
}

/* Experience and project styling */
.resume-experience, .resume-project {
    margin-bottom: 15px;
}

/* Flex container for title and date/organization */
.resume-experience-header, .resume-project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resume-experience h3, .resume-project h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: right;
}

.resume-experience p, .resume-project p {
    font-size: 16px;
    margin: 0;
    color: rgba(255, 255, 255, 0.85);
}

ul {
    margin: 5px 0 0 20px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);
    list-style: inside;
}

ul li {
    margin-bottom: 5px;
}

/* Education, affiliations, skills styling */
.resume-section p {
    margin: 5px 0;
    font-size: 16px;
}

@media print {
    :root {
        --font-reduction: 4px; /* Set the reduction size here */
    }

    .resume-download-button {
      display: none;
    }
    
    .nav, .nav-brand, .nav-links {
        display: none !important;
    }
    
    .resume-container {
        margin: 35px auto;
        width: 90%;
        font-family: 'Times New Roman', Times, serif;
        font-size: calc(12pt - var(--font-reduction));
    }

    .resume-header {
        margin-bottom: 0;
        color: #333;
    }

    .resume-section {
        margin-bottom: 0;
    }

    .resume-linkedin-container {
        /* transform: scale(0.8); Scale down by 20% for print */
        display: inline-flex; /* Ensure it aligns with text */
        gap: 3px; /* Adjust spacing */
        vertical-align: middle; /* Align with surrounding text */
        color: #555;
    }
    
    /* Optionally hide the image if it's too large in print */
    .resume-linkedin-container img {
        width: 14px; /* Adjust image width for print */
        height: 14px;
    }

    .resume-experience, .resume-project {
        margin-bottom: 5px;
    }

    .resume-header h1 {
        font-size: calc(28px - 1.6 * var(--font-reduction));
    }

    .resume-header p,
    .resume-section p {
        font-size: calc(16px - 1 * var(--font-reduction));
        margin: 0;
        color:#555;
    }

    .resume-experience p,
    .resume-project p {
        font-size: calc(16px - 1.2 * var(--font-reduction));
        color: #555;
    }

    .resume-section h2 {
        font-size: calc(22px - 1.6 * var(--font-reduction));
        margin-bottom: 0;
    }

    .resume-experience h3, .resume-project h3 {
        font-size: calc(18px - 1.4 * var(--font-reduction));
        color: #333333c9;
    }

    ul li {
        font-size: calc(16px - var(--font-reduction));
        margin: 0;
        color: #555;
    }

    .resume-bullets {
        font-size: calc(16px - var(--font-reduction));
        margin: 0;
        color: #333;
    }
}